/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Global Styles */
body {
  font-family: proxima-nova, sans-serif;
  font-size: 1.15em;
  line-height: 1.55;
}

p {
  font-weight: 500;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  color: #ff2940;
  line-height: 1;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
}

a {
  color: black;
  font-weight: 600;
}

h5 {
  display: none;
}

nav a {
  text-decoration: none;
  font-weight: 300;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.three-column-nav {
  display: flex;
  justify-content: space-between;
  padding: 2.25em 9em;
  font-size: .83em;
}

.three-column-nav .first-order {
  padding-bottom: 1.3em;
  line-height: 2.1;

}

.three-column-nav .first-order a {
  font-style: normal;
  font-weight: 600;
}
/* Header Navigation Section */

h1 {
  display: none;
}

.logo {
  position: absolute;
  top: 1.75em;
  left: 1.75em;
  width: 5em;
}

.main-header-nav i {
  font-size: 1.75em;
}

.white-background {
  display: none;
}

header {
  background-color: #e32a2f;
  height: 100vh;
  color: white;
}

header a {
  color: white;
}

nav {
  font-size: .8em;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 1em;
}

.main-nav li {
  padding: 1em;
}

.sub-nav {
  display: none;
  color: black;
}

.sub-nav a {
  color: black;
}

.sub-nav li {
  padding: .25em 0;
}

.main-nav li:hover .sub-nav {
  display: block;
  position: absolute;
  margin: 1em 0 0 0;
  text-align: center;
  z-index: 10;
  background-color: #ECECEB;
  border-radius: .25em;
  padding: 1em 3em;
}

.main-nav li:hover .sub-nav::before {
  content: '';
  display: block;
  border: .5rem solid transparent;
  border-bottom-color: #ECECEB;
  position: absolute;
  left: 50%;
  top: -.5em;
  transform: translateY(-50%);
}

.main-nav li:hover .positiontwo {
  transform: translateX(-50%);
}

.main-nav li:hover .positionnine {
  transform: translateX(-43%);
}

.main-nav li:hover .positioneight {
  transform: translateX(-40%);
}

.main-nav .sub-nav a::after {
  content: '';
  display: block;
  position: relative;
  top: -0.2em;
  background: red;
  height: .1em;
  width: 0;
  transition: width .2s;
}

.main-nav .sub-nav a:hover::after {
  width: 100%;
}

.scroll-button {
  color: white;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  text-align: center;
  padding: 1.5em;
}

.scroll-button p {
  margin: 0;
}

/* Header Carousel Section */
.header-carousel {
  background-color: #e32a2f;
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}

.carousel-text h2, .carousel-text p {
  color: white;
  margin: 0;
}

.carousel-text h2 {
  font-size: 1.5em;
}

.header-float-img {
  width: 39.5%;
  position: absolute;
  right: 0;
  top: 47%;
  transform: translateY(-50%);
}

.header-splash {
  position: relative;
  display: none;
}

.carousel-text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%,-43%);
  border: .4em solid white;
  padding: 1em 1.75em;
}

.white, .photo {
  display: none;
}

/* Modal nav section*/
.close-icon {
  position: absolute;
  top: 1em;
  right: 1em;
}

.modal-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.93);
  font-size: 1.4em;
  line-height: 1.5;
}
.modal-nav a {
  font-weight: normal;
}

.modal-nav ul ul {
  font-size: .8em;
  line-height: 1.7;
  padding: 0 1.75em;
}

.center-block {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%;
  transform: translate(-50%, -50%);
}

.modal-nav .first-order a, .modal-nav h2 {
  color: #e32a2f;
  font-size: 1.4em;
  font-weight: 800;
  line-height: 1.75;
  margin: 0 0 .4em 0;
}


.modal-nav .second-order {
  font-size:.8em;
}

.modal-nav a::after {
  content: '';
  display: block;
  position: relative;
  top: -0.2em;
  background: black;
  height: .1em;
  width: 0;
  transition: width .2s;
}

.modal-nav a:hover::after {
  width: 100%;
}

.modal-nav {
  display: none;
}


/* Hero Section */
.hero {
  background-color: #ececeb;
  position: relative;
  height: 43em;
}

.hero .text-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 38%;
  text-align: center;
}

.hero h2 {
  font-size: 3.15em;
}

.hero .img {
  position: absolute;
}

.hero .glass {
  top: 4em;
  left: 43%;
  transform: translateX(-43%);
  width: 17em;
}

.hero .packet {
  top: 5.5em;
  right: 6%;
  width: 17em;
}

.hero .travelsize {
  bottom: 0;
  right: 6%;
  width: 18em;
}

.hero .wine {
  bottom: 0;
  left: 25%;
  width: 8em;
}

.hero .metal {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 9em;
}
/* Dual Content Container */
.dual-content-container {
  display: flex;
  position: relative;
}

/* Text Block */
.text-block, .carousel-block, .img-block {
  flex: 1;
}

.text-block {
  display: flex;
}

.text-block .text-inset {
  margin: auto;
  padding: 0 7em 0 5em;
}

/* Carousel Block */
.carousel-container{
  height: 41em;
}


.carousel-block {
  background-image: radial-gradient(#383838, #151515);
  z-index: -20;
}

.carousel-block .carousel-image {
  z-index: 10;
  position: absolute;
  right: 18%;
  top: 50%;
  transform: translate(-18%,-50%);
  height: 77%;
}

.carousel-block .carousel-caption {
  border: .5em solid #ff2940;
  padding: .9em 12em .9em 3em;
  position: absolute;
  top: 59%;
  left: 47%;
  z-index: -10;
  color: white;
  font-size: .95em;
  font-weight: 300;
}

/* Hero Carousel Section*/
.carousel-hero {
  width: 100%;
  margin: 0;
}

.carousel-hero .hero-container {
  position: relative;
  margin: 0;
}

.carousel-hero img {
  width: 100%;
}

.carousel-hero figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border: .35em solid #ff2940;
  padding: .5em 2em;
  font-size: 1.4em;
  font-weight: 600;
}



/* Img Block */
.img-block img {
  width: 100%;
}

/* Blog Section */
.blog-section {
  background: #ff2940;
  color: white;
  padding: 1em 8.1em;
  text-align: center;
}

.blog-section h2,h3 {
  color: white;
}

.blog-section h2 {
  font-size: 3.25em;
  margin: .6em 0 .3em 0;
}

.blog-section h3 {
  font-size: 1.35em;
  margin: 1.3em 0 .7em 0;
}

.blog-section p {
  font-weight: 300;
  font-size: .95em;
}

.blog-section img {
  width: 100%;
}

.blog-section .col-container {
  display: flex;
}

.blog-section .col-container .col {
  flex-basis: 33%;
  padding: .55em;

}

.blog-section .text-container {
  width: 78%;
  margin: auto;
}

.blog-section .button {
  color: white;
  border: .175em solid white;
  background: none;
  padding: .45em 2em;
  margin: 1em auto 2.5em auto;
  font-weight: 300;
  font-size: 1em;
  width: fit-content;
}

.blog-section .button a {
  color: white;
  text-decoration: none;
  font-weight: normal;
}


/* Contact Section */
.contact-section {
  background: #ececeb;
  margin: 0;
  text-align: center;
  padding: 3em 0;
}

.contact-section h2 {
  font-size: 3.25em;
  margin: .6em auto .3em auto;
  width: 20%;

}

form {
  font-size: 2em;
}

form p {
  margin: .15em;
}

form input, form select {
  background-color: #ff2940;
  border: none;
  width: fit-content;
  padding: .1em .4em;
}

form select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: white;
}

form ::placeholder  {
  color: white;
}

form input[type="tel"] {
  display: none;
}

form textarea {
  border: none;
  margin: 1em;
}

form textarea::placeholder {
  color: black;
  text-align: center;
  font-size: 1.7rem;
}

.data-policy {
  width: 32%;
  margin: auto;
  font-size: 1rem;
  display: flex;
  text-align: left;
}

.data-policy input[type="checkbox"] {
  margin: .35em;
}

.data-policy a {
  font-weight: 400;
}

input[type="submit"] {
  border: .175em solid black;
  background: none;
  padding: .6em 4em;
  margin: 1em 0 2.5em 0;
  font-size: 1.1rem;
}

.contact {
  max-width: 48em;
  margin: auto;
}

/* Footer Nav */
footer {
  width: 100%;
  background-color: #202020;
}

.footer-nav {
  color: white;
  line-height: 2;
  width: 84%;
  margin: auto;
}

.footer-nav h2 {
  color: white;
  font-size: 1.3em;
}

.footer-nav a {
  color: white;
}

.footer-nav ul ul {
  padding-left: 1em;
}

.footer-nav .first-order a {
  font-size: 1.1em;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
